---
layout: page
title: "About"
description: "Hey, this is Will Wang."
header-img: "img/post-about-me.jpg"
---

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote>
        <p>進德修業，秉鑒持衡。</p>
        <p>Cultivate virtue and perfect your learning;Uphold the mirror and maintain the balance.</p>
    </blockquote>

    <p>【座右銘】：<strong>地勢坤，君子以厚德載物</strong></p>

    <h6>作一位有靈魂的人</h6>
    <ol>
        <li>眼裡有餘閒登山臨水觴詠</li>
        <li>身外無長物布衣素食琴書</li>
    </ol>

    <h6>藝術精神</h6>
    <p> 为了捍卫和维护藝術業餘和專業愛好者的荣誉，我承诺，尽我所能和判断力：</p>
    <ol>
        <li>我不會出產加害個人或團體的作品。</li>
        <li>我永遠傾盡全力製作作品。我不會故意允許在行為或結構上有缺陷的作品。</li>
        <li>我會主動分享階段性的作品或草稿，這樣就不會因沉默而妨礙團隊或合作者的進度。</li>
        <li>我會抓住每一個機會，無畏地、不懈地改進我的作品。我永遠不會損害它們。</li>
        <li>我會盡我所能保持自己與他人的創造力。我不會做任何降低生產力的事情。</li>
        <li>我會繼續確保支持其他人的創作，並且他們也能支持我的創作。</li>
        <li>我會對規模與精準度做出誠實的估計。我不會作出做不到的承諾。</li>
        <li>我將永遠不會停止學習和改進我的手藝。</li>
    </ol>
</div>


<!-- 文章打賞功能 支持支付寶、微信打賞-->
<script src='{{ "/js/ds.js" | prepend: site.baseurl }}'></script>
<script>
    new tctip({
        top: '20%',
        button: {
            id: 6,
            type: 'dashang'
        },
        list: [
            {
                type: 'alipay',
                qrImg: '{{site.alipay_qr_img}}'
            }, {
                type: 'wechat',
                qrImg: '{{site.wechat_qr_img}}'
            }
        ]
    }).init()
</script>


<!-- Gitalk 評論 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: '{{site.gitalk.distractionFreeMode}}',
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

