---
layout: default
description: "臨天牧風的展館"
---

<section class="home-section" style="background-image: url('{{ site.baseurl }}/{{ site.header-img }}')">
  <div class="intro-header home-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>{{ site.title }}</h1>
            <span class="subheading">{{ page.description }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12 col-xs-12">
          <div class="glass-panel">
            {% for post in paginator.posts %}
            <div class="post-preview">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    {% if post.subtitle %}
                    <h3 class="post-subtitle">
                        {{ post.subtitle }}
                    </h3>
                    {% endif %}
                </a>
                <p class="post-meta">
                    Posted by
                    {% if post.author %}
                    {{ post.author }}
                    {% else %}
                    {{ site.title }}
                    {% endif %}
                    on {{ post.date | date: "%B %-d, %Y" }}
                </p>
            </div>
            <hr>
            {% endfor %}

            {% if paginator.total_pages > 1 %}
            <ul class="pager">
                {% if paginator.previous_page %}
                <li class="previous">
                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        Newer Posts
                    </a>
                </li>
                {% endif %}
                {% if paginator.next_page %}
                <li class="next">
                    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                        Older Posts
                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                    </a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
          </div>
        </div>

        <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-12 col-xs-12 sidebar-container">
          {% include featured-tags.html %}
          {% include short-about.html %}
          {% include friends.html %}
        </div>
      </div>
    </div>
  </div>
</section>
